<div class="crm-container">
  <form name="myForm" crm-ui-id-scope>
    <div class="crm-block">
      <h2>{{contact.first_name}} {{contact.last_name}}</h2>
      <div class="crm-accordion-wrapper">
        <div class="crm-accordion-header">
          Create Activity
        </div>
        <div class="crm-accordion-body">
          <label>Case Type: </label>
          <select class="big crm-form-select" ng-model="caseTypeId" ng-change="setCaseType()" ng-options="caseType.id as caseType.title for caseType in caseTypes">
          </select>
          <label>Activity Type: </label>
          <select class="big crm-form-select" ng-model="activityTypeName" ng-change="setActivityType()" ng-options="activityType.name for activityType in activityTypes">
          </select>
          <button class="crm-button" ng-click="createActivity()" ng-disabled="nothingToCreate()"=>Create</button>
        </div>
      </div>
      <div class="crm-group">
        <table>
          <thead>
            <tr class="columnheader">
                <td>Case Type</td>
                <td>Activity Type</td>
                <td>Subject</td>
                <td>Date / Time</td>
                <td>Status</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="activity in activities" ng-class-even="'even'" class="{{activity.overdue_status}}">
              <td>{{activity.case_type}}</td>
              <td>{{activity.activity_type}}</td>
              <td>{{activity.subject}}</td>
              <td>{{activity.activity_date_time}}</td>
              <td>{{activity.status}}</td>
              <td><a ng-click="viewActivity(activity)">View</a></td>
              <td><a ng-click="editActivity(activity)">Edit</a></td>
              <td><a ng-click="deleteActivity(activity)">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </form>

</div>
