<div class="crm-container">
  <div crm-ui-debug="activities"></div>

  <form name="myForm" crm-ui-id-scope>

    <div class="help">
      <p>{{ts('To view more debugging information, edit the URL and include "?angularDebug=1".')}}</p>
    </div>

    <div class="crm-block">
      <div class="crm-group">
        <table>
          <tr>
            <td>Case Type</td>
            <td>Activity Type</td>
            <td>Subject</td>
            <td>Date / Time</td>
            <td>Status</td>
          </tr>
          <tr ng-repeat="activity in activities">
            <td>{{activity.case_type}}</td>
            <td>{{activity.activity_type}}</td>
            <td>{{activity.subject}}</td>
            <td>{{activity.activity_date_time}}</td>
            <td>{{activity.status}}</td>
            <td><a ng-click="viewActivity(activity)">View</a></td>
            <td><a ng-click="editActivity(activity)">Edit</a></td>
            <td><a ng-click="deleteActivity(activity)">Delete</a></td>
          </tr>
        </table>
      </div>
    </div>

  </form>

</div>
