<div class="crm-container">
  <div crm-ui-debug="contact"></div>
  <div crm-ui-debug="activities"></div>
  <div crm-ui-debug="caseTypes"></div>

  <form name="myForm" crm-ui-id-scope>
    <div class="crm-block">
      <h2>{{contact.first_name}} {{contact.last_name}}</h2>
      <select ng-model="caseType" ng-change="setCaseType(caseType)">
        <option value={{caseType}} ng-repeat="caseType in caseTypes">
          {{caseType.title}}
        </option>
      </select>
      <div class="crm-group">
        <table>
          <tr>
            <td>Case Type</td>
            <td>Activity Type</td>
            <td>Subject</td>
            <td>Date / Time</td>
            <td>Status</td>
          </tr>
          <tr ng-repeat="activity in activities">
            <td>{{activity.case_type}}</td>
            <td>{{activity.activity_type}}</td>
            <td>{{activity.subject}}</td>
            <td>{{activity.activity_date_time}}</td>
            <td>{{activity.status}}</td>
            <td><a ng-click="viewActivity(activity)">View</a></td>
            <td><a ng-click="editActivity(activity)">Edit</a></td>
            <td><a ng-click="deleteActivity(activity)">Delete</a></td>
          </tr>
        </table>
      </div>
    </div>

  </form>

</div>
